{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always"
}
